<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042952740806-ulrdddu406o5ip0emr84am8pah59f662.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042952740806-ulrdddu406o5ip0emr84am8pah59f662</string>
	<key>API_KEY</key>
	<string>AIzaSyA4_udDIbk-SxrQYxGl1u2zi3dcRwvdwdM</string>
	<key>GCM_SENDER_ID</key>
	<string>1042952740806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutter.dongphuc296web</string>
	<key>PROJECT_ID</key>
	<string>dongphuc296web</string>
	<key>STORAGE_BUCKET</key>
	<string>dongphuc296web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042952740806:ios:71708fee8175bfc39e1cc7</string>
</dict>
</plist>